body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: black;
  margin-top: 20px;
  
}

.title {
  background: #e3f4ff;
  /*margin-bottom: 10px;*/  
  border-top: 10px white solid;
  border-bottom: 10px white solid;
  margin: 0px;
  padding: 0px;
  height: 36px;
}

.content {
  background: #e3f4ff;
  /*margin-top: 10px;*/
}

.button-container {
  background: #e3f4ff;
  padding-left: 170px;
  margin-top: 10px;
  border-bottom: 10px solid white;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: -30px;
}